
NeedforWheat/Intermediate/

NeedforWheat/.vs/

NeedforWheat/Saved/Logs/

NeedforWheat/Saved/Config/CrashReportClient/

NeedforWheat/Saved/Config/

NeedforWheat/Saved/SourceControl/

*.exe

*.exp

*.lib

*.pdb
